#canvas_container{
    position: relative;
    display: inline-block;
}

#tool_bar > button, #tool_bar > input{
    display: table;
    width: 100%;
}

#bg{
    border: 0px solid black;
    margin: 0px;
}

#data  {
    border: 0px solid black;
    margin: 0px;
    position: absolute;
    z-index:1000;
    /*visibility: hidden*/
}

#fg  {
    border: 0px solid black;
    margin: 0px;
    position: absolute;
    z-index:1001;
    /*visibility: hidden*/
}