#canvas_container{
    position: relative;
    display: inline-block;
}

#tool_bar > button {
    display: table;
}

#bg{
    border: 0px solid black;
    margin: 0px;
}

#data  {
    border: 0px solid black;
    margin: 0px;
    position: absolute;
    z-index:1000
}

#fg  {
    border: 0px solid black;
    margin: 0px;
    position: absolute;
    z-index:1001
}